.dog-card {
  width: 300px;
  border-radius: 10px;
  border: 1px solid var(--color-blue);
  margin: 10px;
  text-align: center;
  box-shadow: #3d405b1f 0px 1px 3px, #3d405b3d 0px 1px 2px;
  cursor: pointer;
  height: 300px;
}

.dog-card img {
  width: 200px;
  border-radius: 50%;
}

.dog-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
}

.dog-detail img {
  width: 100%;
}

.dog-form {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}
